.date-picker {
    position: relative
}

.date-picker .select-dropdown {
    position: absolute;
    top: 22px !important;
    z-index: 100;
    width: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
    box-sizing: border-box;
    font-size: 12px;
}

.date-picker-body {
    float: left;
}

.date-picker-header {
    text-align: center;
    border-bottom: 1px solid #e3e8ee;
}

.date-picker-header span {
    cursor: pointer;
}

.date-picker-header span:hover {
    color: red;
}

.date-picker-header .year {
    margin-left: 15px;
}

.date-picker-header .month {
    margin-right: 15px;
}

.date-picker-header {
    padding: 8px 0;
}

.date-picker-weeks,
.date-picker-weeks {
    font-size: 0;
    white-space: nowrap;
}

.date-picker-cells-year,
.date-picker-cells-month {
    padding: 5px;
    text-align: center;
}

.date-picker-cells.date-picker-cells-year span,
.date-picker-cells.date-picker-cells-month span {
    width: 40px;
    height: 28px;
    line-height: 28px;
    margin: 8px 10px;
}

.date-picker-cells span {
    display: inline-block;
    width: 28px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}

.date-picker-cells span.prev-month,
.date-picker-cells span.next-month {
    color: #c3cbd6;
}

.date-picker-cells span.cell-selected,
.date-picker-cells span.cell-selected:hover {
    background: #39f;
    color: #fff;
}

.date-picker-cells span:hover {
    background-color: #e1f0fe;
    font-weight: bold;
}

.container {
    width: 400px;
    margin: 50px auto 0;
}

.slide-up-appear,
.slide-up-enter-active,
.slide-up-leave-active {
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-play-state: paused
}

.slide-up-appear,
.slide-up-enter-active {
    animation-name: ivuSlideUpIn;
    animation-play-state: running
}

.slide-up-leave-active {
    animation-name: ivuSlideUpOut;
    animation-play-state: running
}

.slide-up-appear,
.slide-up-enter-active {
    opacity: 0;
    animation-timing-function: ease-in-out
}

.slide-up-leave-active {
    animation-timing-function: ease-in-out
}

@keyframes ivuSlideUpIn {
    0% {
        opacity: 0;
        transform-origin: 0 0;
        transform: scaleY(.1)
    }
    to {
        opacity: 1;
        transform-origin: 0 0;
        transform: scaleY(1);
    }
}

@keyframes ivuSlideUpOut {
    0% {
        opacity: 1;
        transform-origin: 0 0;
        transform: scaleY(1)
    }
    to {
        opacity: 0;
        transform-origin: 0 0;
        transform: scaleY(.1);
    }
}