@font-face {
  font-family: 'iconfont';  /* project id："110248" */
  src: url('//at.alicdn.com/t/font_v2nnue3oohxxyldi.eot');
  src: url('//at.alicdn.com/t/font_v2nnue3oohxxyldi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_v2nnue3oohxxyldi.woff') format('woff'),
  url('//at.alicdn.com/t/font_v2nnue3oohxxyldi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_v2nnue3oohxxyldi.svg#iconfont') format('svg');
}
                    
                    

.iconfont {
    cursor: pointer;
    font-family: "iconfont" !important;
    font-size: 16px;
    vertical-align: middle;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
} 
.iconfont::after{
	content:'\e616';
}  
.iconfont.html::after {
	content:'\e7bc';
	color: #f74c08;
}
.iconfont.js::after {
	content: '\e7bf';
	color: #519AAC;
}
.iconfont.css::after {
	content:'\e614';
	color: #3B9ADB;
}
.iconfont.directory::after {
	font-size: 18px;
	content: '\e60a';
	color: #F9A825;
}
.iconfont.empty::after {
	content:'\e60b';
}    
.iconfont.config::after {
	content:'\e673';
	color: #137564;
}   
.iconfont.txt::after,.iconfont.json::after {
	content:'\e604';
}