<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>date-picker</title>
    <link rel="stylesheet" href="../../../dist/date-picker/index.css"></link>
</head>

<body>
    <div id="app">
       <div>
            <Date-picker type="date" placeholder="选择日期" style="width: 200px"></Date-picker>
        </div>
        <!--<div>
            <Date-picker type="daterange" placement="bottom-end" placeholder="选择日期" style="width: 200px"></Date-picker>
        </div>-->
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js"></script>
    <script type="text/javascript" src="../../../dist/date-picker/index.js"></script>
    <!--<script type="text/javascript" src="../dist/app.js"></script>-->
    
    <script>
    var app = new Vue({
        el: '#app',
        mounted: function () {
        },
        data: {
            
        },
        methods:{
            submit(event){
                
            }
        }
    });
    </script>
</body>
</html>